<div class="flex mb-[2em]">
    <%= link_to 'Home', root_path, class: 'link' %>
    <% if current_organisation %>
        <div>
            <%= current_organisation.email %>
            <%= button_to 'Logout', destroy_organisation_session_path, :method => :delete, data: { confirm: 'Are you sure you want to log out?' } %>
        </div>
    <% else %>

        <div class="flex gap-2">
            <%= link_to 'Register', new_organisation_registration_path, class: 'link' %>
            <%= link_to 'Login', new_organisation_session_path, class: 'link hover:txt-blue-500' %>
        </div>
    <% end %>
</div>